@tailwind base;
@tailwind components;
@tailwind utilities;



*{ padding: 0; margin: 0; box-sizing: border-box; transition: 0.4s; }
/* utils */
.relative-main { position: relative;}
.absolute-main { position: absolute;}
.modal-adjust { top: 48px; right:0px; z-index: 20;}
.capitalize-main { text-transform: capitalize;}
.spaning-5 { margin: 14px 0; background: rgb(60, 60, 60);}
.space-new { display: flex; column-gap: 0;}
.showh { background: #5f5f5f !important }

body { background: #000000; color: #fff; display: flex; align-items: center; justify-content: center; font-family: 'WorkSans-Regular'; transition: 0.4s;}
.main__wrapper .export__btn { all: unset; border-radius: 50%; padding: 5px 6px 1px 5px; cursor: pointer;}
.main__wrapper .export__btn:hover { -webkit-animation:spin 0.4s linear; -moz-animation:spin 0.4s linear; animation:spin 0.4s linear; }

.main__wrapper .section__wrapper { position: relative;}
.main__wrapper .section__wrapper .settings__prompt { position: absolute; top: 30px; right: 28px;}
.main__wrapper .section__wrapper .settings__prompt > svg { position: absolute; top: 2px; right: 12px; }
.main__wrapper .header__section .logo__wrapper { display: flex; align-items: center; justify-content: center; margin-bottom: 20px; margin-top: 20px; }
.main__wrapper .header__section .logo__wrapper > img { width: 90px; }
.main__wrapper .header__section > p { padding-bottom: 20px; text-align: center; }


.main__wrapper .inspi__write { min-height: 300px; height: 100%; min-width: 300px; width: 100%; max-width: 330px; background: rgb(65, 55, 55); text-align: center; padding:20px 20px;}
.main__wrapper .inspi__write .inspi__write__content { background: #000000; background-size: cover !important; width: 100%; min-height: 300px; border-radius: 10px; padding: 20px; font-size: 18px; transition: 0.4s; }
.main__wrapper .inspi__write .art__board { display: flex; margin-bottom: 5px; }
.main__wrapper .inspi__write .art__board .art__one { height: 4px; width: 4px; background:linear-gradient(to right, #757f9a, #d7dde8); border-radius: 50%; margin-right: 4px;}
.main__wrapper .inspi__write .art__board .art__two { height: 4px; width: 42px; background: linear-gradient(to right, #d7dde8, #dd1818); border-radius: 20px; }
.main__wrapper .inspi__write .art__board_two { display: flex; margin-bottom: 10px; }
.main__wrapper .inspi__write .art__board_two .art__three { height: 4px; width: 23px; background: cyan;  border-radius: 10px; margin-right: 4px;}
.main__wrapper .inspi__write .art__board_two .art__four { height: 4px; width: 23px; background:linear-gradient(to right, #757f9a, #d7dde8); border-radius: 10px; }

.main__wrapper .inspi__write .inspi__write__box { display: flex; align-items: center; justify-content: center;
  word-wrap:break-word; white-space:normal; padding: 10px; outline: none; width: 100%; min-height: 300px; max-width: 300px; padding: 0; margin: 0px auto 0 auto; transition: 0.4s; 
  /* user-modify: read-write-plaintext-only; */
  -moz-user-modify: read-write-plaintext-only;
  -webkit-user-modify: read-write-plaintext-only;
}

  .main__wrapper .inspi__write .inspi__write__box::placeholder { color: rgba(255, 255, 255, 0.351) !important; opacity: 0.4;}
  [contenteditable=true]:empty:before{
  content: attr(placeholder);
  opacity: 0.4; font-style: italic;
  pointer-events: none;
  display: block;
}

/* settings */
.settings__modal { padding: 44px 0 12px 0; max-width: 300px; min-width: 217px; width: 100%; border-radius: 10px; background: #030120; color: #000; z-index: 9; position: relative;} 
.settings__modal .close__modal { position: absolute; top: 10px; right: 10px; padding: 5px; cursor: pointer; }
.settings__modal .settings__modal__content { border-radius: 10px; width: 217px; background: #030120; color: #000; z-index: 9;} 
.settings__modal .settings_option { display: flex; align-items: center; padding: 0 12px;}
.settings__modal .settings_option > div:nth-of-type(1) { display: flex; align-items: center; justify-content: center;}
.settings__modal .settings_option:hover { background: #5f5f5f; cursor: pointer;}
.settings__modal .settings_option > h3 { margin-left: 7px; font-size: 14px; padding: 10px 12px; font-weight: normal; color: #fff; white-space: nowrap;}
.settings__modal .settings_option .color__badge { height: 28px; width: 24px; border-radius: 3px;}

.settings__modal .fontsize__modal { padding: 12px 0; background: linear-gradient(to right, #0f0c29, #302b63, #24243e); border-radius: 10px; width: 200px; text-align: left;}
.settings__modal .fontsize__modal > div { padding: 5px 12px; color: #fff; width: 100%; font-size: 14px;}
.settings__modal .fontsize__modal > div:hover { background:#302b63; cursor: pointer }
.settings__modal .fontsize__modal > span > label > div { padding: 5px 12px; color: #fff; width: 100%; font-size: 14px;}
.settings__modal .fontsize__modal > span > label > div:hover { background:#302b63; cursor: pointer }
.settings__modal .file > input[type='file'] { display: none}
.settings__modal .file > label { user-select: none}

footer { margin-top: 70px; display: flex; align-items: center; flex-direction: column; justify-content: space-between;}
footer > a { all: unset;  text-decoration: underline;}
footer > a > p { margin-bottom: 20px; font-size: 12px; cursor: pointer;}

.button__wrap { display: flex; align-items: center; justify-content: center; width: 100%; }
.button__wrap > span { display: flex; align-items: center; justify-content: center; border: 1px solid rgb(132, 132, 132); margin-top: 15px;; border-radius: 5px; padding: 8px 12px; cursor: pointer; transition: 0.3s; max-width: 180px; width: 100%; }
.button__wrap span:hover { background: rgba(255, 255, 255, 0.318); opacity: 0.4; transition: 0.3s;}
.button__wrap span > svg { -webkit-animation:spin 0.4s linear; -moz-animation:spin 0.4s linear; animation:spin 0.4s linear; }
.button__new {all: unset; outline: none; border: none; display: flex; align-items: center; }



/*Network loader */
.progress-1 { position: fixed; top: 0; left: 0; right: 0; height: 4px; display: block; width: 100%; margin: 0; overflow: hidden; background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);; z-index: 2000;}
.progress-1 .determinate { position: absolute; top: 0; left: 0;bottom: 0; background-color: #26a69a; -webkit-transition: width 0.3s linear; transition: width 0.3s linear;}
.progress-1 .indeterminate { background:#fdbb2d  }
.progress-1 .indeterminate:before { content: ""; position: absolute; background-color: inherit; top: 0; left: 0; bottom: 0; will-change: left, right; -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)   infinite; animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;}
.progress-1 .indeterminate:after { content: ""; position: absolute; background-color: inherit; top: 0; left: 0; bottom: 0; will-change: left, right; -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)   infinite; animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)   infinite; -webkit-animation-delay: 1.15s; animation-delay: 1.15s;}
@-webkit-keyframes indeterminate { 0% { left: -35%; right: 100%  } 60% { left: 100%;  right: -90%; } 100% { left: 100%; right: -90%;  }}
@keyframes indeterminate { 0% { left: -35%; right: 100%; } 60% { left: 100%; right: -90%;  } 100% { left: 100%; right: -90% }}
@-webkit-keyframes indeterminate-short { 0% { left: -200%; right: 100%;  } 60% { left: 107%; right: -8%; } 100% { left: 107%; right: -8%; }}
@keyframes indeterminate-short { 0% { left: -200%; right: 100%; } 60% { left: 107%; right: -8% } 100% { left: 107%; right: -8%; }}


/* typing loader */
.dataflow-b { margin-bottom: 10px; }
.dataflow-b .data:nth-child(0) { animation-delay: 0s; background: cyan; width: 28px}
.dataflow-b .data:nth-child(1) { animation-delay: 0.3s; background:linear-gradient(to right, #757f9a, #d7dde8); width: 28px;}
.dataflow-b { position: relative; width: 100%; overflow: hidden; height: 4px; max-width: 49px; display: flex;}
.dataflow-b .data { width: 28px; height: 4px; background: cyan; border-radius: 10px; animation: flow-b 3.6s linear infinite;  margin-right: 2px;}
@-moz-keyframes flow-b {
  0% { transform: translateX(80px); }
  50% { transform: translateX(-40px); }
  80% { transform: translateX(60px);}
  100% { transform: translateX(-80px); }
}
@-webkit-keyframes flow-b {
  0% { transform: translateX(80px); }
  50% { transform: translateX(-40px); }
  80% { transform: translateX(60px);}
  100% { transform: translateX(-80px); }
}
@-o-keyframes flow-b {
  0% { transform: translateX(80px); }
  50% { transform: translateX(-40px); }
  80% { transform: translateX(60px);}
  100% { transform: translateX(-80px); }
}
@keyframes flow-b {
  0% { transform: translateX(80px); }
  50% { transform: translateX(-40px); }
  80% { transform: translateX(60px);}
  100% { transform: translateX(-80px); }
}


/* type loader */
.dataflow-x { z-index:0;}
.dataflow-x .data-x:nth-child(0) { animation-delay: 0s;}
.dataflow-x .data-x:nth-child(1) { animation-delay: 0.3s;}
.dataflow-x .data-x:nth-child(2) { animation-delay: 0.6s;}
.dataflow-x .data-x:nth-child(3) { animation-delay: 0.9s;}
.dataflow-x { position: relative; overflow: hidden; height: 22px; display: flex; flex-direction: column;}
.dataflow-x .data-x { animation: flow-x 10s linear infinite; margin-bottom: 10px; }
@keyframes flow-x {
  0% { transform: translateY(-80px); }
  50% { transform: translateY(-40px); }
  80% { transform: translateY(60px);}
  100% { transform: translateY(-80px); }
}


@keyframes spin { 
  100% {  -webkit-transform: rotate(360deg);  transform:rotate(360deg);  } 
}


/* media queries */
@media screen and (max-width: 378px) {
  .main__wrapper .header__section .logo__wrapper > img { width: 75px; }
  .main__wrapper .inspi__write { min-height: 100%; height: 100%; min-width: 100%; width: 100%; max-width: 100%; padding: 20px 20px; }
  body { display: block; padding: 0 20px; }
  .main__wrapper .section__wrapper .settings__prompt > svg { position: absolute; top: 2px; right: 28px; }
  .main__wrapper .header__section > p { padding-bottom: 30px; padding-top: 15px;}

}

